h1{
    text-align: center;
}

.rojo{
    background-color: firebrick;
}

.rosa{
    background-color: hotpink;
}

.amarillo{
    background-color: gold;
}

.violeta{
    background-color: blueviolet;
}

.rojo, .rosa,.violeta{
    color: white;
}